In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import math
import collections

In [2]:
dir_path = "/Users/irenechang/Downloads/ECS260/csvs/"

In [3]:
cmt_hist = pd.read_csv(dir_path+"commits_2019_8.csv")

/var/folders/5l/vhc1pp4552v9_1jprtyqnlj80000gn/T/ipykernel_17689/795063772.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  cmt_hist = pd.read_csv(dir_path+"commits_2019_8.csv")

In [4]:
l_ids = pd.read_csv(dir_path+"lists_2019_8.csv",sep=',',header=0,encoding='latin-1')

In [5]:
g_ids = l_ids[l_ids.status==1].listid.to_list()
r_ids = l_ids[l_ids.status==2].listid.to_list()

In [6]:
g_cmts = {}
r_cmts = {}
empty_list = []
for g_id in g_ids:
    start = dt.datetime.strptime(l_ids[l_ids.listid==g_id].start_date.to_string(index=False),"%m/%d/%Y")
    end = dt.datetime.strptime(l_ids[l_ids.listid==g_id].end_date.to_string(index=False),"%m/%d/%Y")
    hist = sorted([dt.datetime.strptime(c[:10],"%Y-%m-%d") for c in cmt_hist[cmt_hist.list==g_id].commit_datetime])
    hist = [h for h in hist if start <= h <= end]
    if len(hist):
        g_cmts[g_id] = hist
    else:
        empty_list.append(g_id)
for r_id in r_ids:
    start = dt.datetime.strptime(l_ids[l_ids.listid==r_id].start_date.to_string(index=False),"%m/%d/%Y")
    end = dt.datetime.strptime(l_ids[l_ids.listid==r_id].end_date.to_string(index=False),"%m/%d/%Y")
    hist = sorted([dt.datetime.strptime(c[:10],"%Y-%m-%d") for c in cmt_hist[cmt_hist.list==r_id].commit_datetime])
    hist = [h for h in hist if start <= h <= end]
    if len(hist):
        r_cmts[r_id] = hist
    else:
        empty_list.append(r_id)

In [7]:
def avg_cmt(freq):
    cnt = 0
    for f in freq:
        cnt += f[1]
    duration = freq[-1][0]-freq[0][0]
    return cnt/duration.days

def get_inactive_period(l_id,g):
    if l_id in empty_list:
        return [],[]
    a_periods = []
    i_periods = []
    cmts = (g_cmts,r_cmts)
    counter = collections.Counter(cmts[g][l_id])
    freq = [(x,counter[x]) for x in sorted(counter.keys())]
    p1 = 0
    p2 = 1
    prev = 0
    total_per = freq[-1][0]-freq[0][0]
    avg = avg_cmt(freq)
    while p2 < len(freq):
        if freq[p2][1] < 0.2*avg: # threshold 1
            p2 += 1
            continue
        else:
            delta = freq[p2][0]-freq[p1][0]
            if delta.days > 60: # threshold 2
                period = ((freq[prev][0]).strftime("%Y-%m-%d"),(freq[p1][0]).strftime("%Y-%m-%d"))
                a_periods.append(period)
                period = ((freq[p1][0]+dt.timedelta(days=1)).strftime("%Y-%m-%d"),(freq[p2][0]-dt.timedelta(days=1)).strftime("%Y-%m-%d"))
                i_periods.append(period)
                prev = p2
            p1 = p2
            p2+=1
    period = ((freq[prev][0]).strftime("%Y-%m-%d"),(freq[-1][0]).strftime("%Y-%m-%d"))
    a_periods.append(period)
    return a_periods,i_periods

In [8]:
new_list = pd.read_excel(dir_path+"new_asfi_list.xlsx") # I removed the empty rows
cnt = 0
for l_id in new_list.listid:
    i_per = get_inactive_period(l_id, int(new_list.loc[new_list.listid==l_id,"status"].to_string(index=False))-1)[1]
    if len(i_per):
        cnt += 1
        i_per = np.array(i_per)
        new_list.loc[new_list.listid==l_id,'downturn_start'] = ','.join(i_per[:,0])
        new_list.loc[new_list.listid==l_id,'downturn_end'] = ','.join(i_per[:,1])
print(cnt)
new_list

15

,listid,listname,start_date,end_date,status,incubation_months,pj_url,pj_github_url,language,downturn_start,downturn_end
0,59,Apex,2015-08-17,2016-04-20,1,8.233333,http://incubator.apache.org/projects/apex.html,https://github.com/apache/apex-core,Java,NaN,NaN
1,62,AsterixDB,2015-02-28,2016-04-20,1,13.900000,http://incubator.apache.org/projects/asterixdb...,https://github.com/apache/AsterixDB,Java,NaN,NaN
2,63,Atlas,2015-05-05,2017-06-21,1,25.933333,http://incubator.apache.org/projects/atlas.html,https://github.com/apache/Atlas,Java,NaN,NaN
3,65,Beam,2016-02-01,2016-12-21,1,10.800000,http://incubator.apache.org/projects/beam.html,https://github.com/apache/Beam,Java,NaN,NaN
4,70,Brooklyn,2014-05-01,2015-11-18,1,18.866667,http://incubator.apache.org/projects/brooklyn....,https://github.com/apache/incubator-brooklyn,Java,NaN,NaN
5,72,Calcite,2014-05-19,2015-10-22,1,17.366667,http://incubator.apache.org/projects/calcite.html,https://github.com/apache/Calcite,Java,NaN,NaN
6,73,CarbonData,2016-06-02,2017-04-19,1,10.700000,http://incubator.apache.org/projects/carbondat...,https://github.com/apache/CarbonData,Scala,NaN,NaN
7,82,CommonsRDF,2015-03-06,2016-11-28,1,21.100000,http://incubator.apache.org/projects/commonsrd...,https://github.com/apache/commons-rdf,Java,"2015-05-16,2015-12-11","2015-08-09,2016-03-11"
8,89,DataFu,2014-01-05,2018-02-21,1,50.266667,http://incubator.apache.org/projects/datafu.html,https://github.com/apache/DataFu,Java,"2014-11-28,2016-03-10,2016-10-27,2017-03-11","2015-05-26,2016-06-27,2017-02-12,2017-07-11"
9,96,DistributedLog,2016-06-24,2017-07-01,1,12.400000,http://incubator.apache.org/projects/distribut...,https://github.com/apache/DistributedLog,Java,NaN,NaN
10,98,Dubbo,2018-02-16,2019-05-15,1,15.100000,http://incubator.apache.org/projects/dubbo.html,https://github.com/apache/Dubbo,Java,NaN,NaN
11,106,Fineract,2015-12-15,2017-04-19,1,16.366667,http://incubator.apache.org/projects/fineract....,https://github.com/apache/fineract,Java,NaN,NaN
12,108,Flink,2014-04-14,2014-12-17,1,8.233333,http://incubator.apache.org/projects/flink.html,https://github.com/apache/Flink,Java,NaN,NaN
13,110,Fluo,2016-05-17,2017-07-19,1,14.266667,http://incubator.apache.org/projects/fluo.html,https://github.com/apache/Fluo,Java,2017-01-11,2017-03-28
14,113,Geode,2015-04-27,2016-11-16,1,18.966667,http://incubator.apache.org/projects/geode.html,https://github.com/apache/Geode,Java,NaN,NaN
15,117,Griffin,2016-12-05,2018-11-21,1,23.866667,http://incubator.apache.org/projects/griffin.html,https://github.com/apache/Griffin,Scala,NaN,NaN
16,118,Groovy,2015-03-17,2015-11-18,1,8.200000,http://incubator.apache.org/projects/groovy.html,https://github.com/apache/Groovy,Java,NaN,NaN
17,119,Guacamole,2016-02-10,2017-11-15,1,21.466667,http://incubator.apache.org/projects/guacamole...,https://github.com/apache/guacamole-server,C,NaN,NaN
18,122,HAWQ,2015-09-04,2018-08-15,1,35.866667,http://incubator.apache.org/projects/hawq.html,https://github.com/apache/HAWQ,C,NaN,NaN
19,128,Ignite,2014-10-01,2015-09-18,1,11.733333,http://incubator.apache.org/projects/ignite.html,https://github.com/apache/Ignite,Java,NaN,NaN
20,129,Impala,2015-12-03,2017-11-15,1,23.766667,http://incubator.apache.org/projects/impala.html,https://github.com/apache/Impala,C++,NaN,NaN
21,137,Johnzon,2014-06-09,2016-04-20,1,22.700000,http://incubator.apache.org/projects/johnzon.html,https://github.com/apache/Johnzon,Java,NaN,NaN
22,138,Joshua,2016-02-13,2018-10-17,1,32.566667,http://incubator.apache.org/projects/joshua.html,https://github.com/apache/Joshua,Java,2017-06-21,2018-03-04
23,141,Juneau,2016-06-24,2017-10-18,1,16.033333,http://incubator.apache.org/projects/juneau.html,https://github.com/apache/Juneau,Java,NaN,NaN
24,144,Kudu,2015-12-03,2016-07-20,1,7.666667,http://incubator.apache.org/projects/kudu.html,https://github.com/apache/Kudu,C++,NaN,NaN
25,145,Kylin,2014-11-25,2015-11-18,1,11.933333,http://incubator.apache.org/projects/kylin.html,https://github.com/apache/Kylin,Java,NaN,NaN
26,146,Lens,2014-10-10,2015-08-19,1,10.433333,http://incubator.apache.org/projects/lens.html,https://github.com/apache/Lens,Java,NaN,NaN
27,155,MADlib,2015-09-15,2017-07-19,1,22.433333,http://incubator.apache.org/projects/madlib.html,https://github.com/apache/MADlib,C++,NaN,NaN
28,161,Metron,2015-12-06,2017-04-19,1,16.666667,http://incubator.apache.org/projects/metron.html,https://github.com/apache/Metron,Java,NaN,NaN
29,167,Mynewt,2015-10-20,2017-06-21,1,20.333333,http://incubator.apache.org/projects/mynewt.html,https://github.com/apache/mynewt-core,C,NaN,NaN
30,168,NetBeans,2016-10-01,2019-04-17,1,30.933333,http://incubator.apache.org/projects/netbeans....,https://github.com/apache/NetBeans,Java,"2017-02-09,2018-02-16","2017-09-02,2018-10-29"
31,169,NiFi,2014-11-24,2015-07-15,1,7.766667,http://incubator.apache.org/projects/nifi.html,https://github.com/apache/NiFi,Java,NaN,NaN
32,192,PLC4X,2017-12-18,2019-04-17,1,16.166667,http://incubator.apache.org/projects/plc4x.html,https://github.com/apache/PLC4X,Java,2018-11-18,2019-01-23
33,194,PredictionIO,2016-05-26,2017-10-18,1,17.000000,http://incubator.apache.org/projects/predictio...,https://github.com/apache/PredictionIO,Scala,NaN,NaN
34,195,Pulsar,2017-06-01,2018-09-19,1,15.833333,http://incubator.apache.org/projects/pulsar.html,https://github.com/apache/Pulsar,Java,NaN,NaN
35,197,Ranger,2014-07-24,2017-01-18,1,30.300000,http://incubator.apache.org/projects/ranger.html,https://github.com/apache/Ranger,Java,NaN,NaN
36,200,REEF,2014-08-12,2015-11-18,1,15.433333,http://incubator.apache.org/projects/reef.html,https://github.com/apache/REEF,Java,NaN,NaN
37,202,RocketMQ,2016-11-21,2017-09-20,1,10.100000,http://incubator.apache.org/projects/rocketmq....,https://github.com/apache/RocketMQ,Java,NaN,NaN
38,207,ServiceComb,2017-11-22,2018-10-17,1,10.966667,http://incubator.apache.org/projects/serviceco...,https://github.com/apache/incubator-servicecom...,Java,NaN,NaN
39,226,SystemML,2015-11-02,2017-05-18,1,18.766667,http://incubator.apache.org/projects/systemml....,https://github.com/apache/SystemML,Java,NaN,NaN
40,232,TinkerPop,2015-01-16,2016-05-23,1,16.433333,http://incubator.apache.org/projects/tinkerpop...,https://github.com/apache/TinkerPop,Java,NaN,NaN
41,234,Traffic Control,2016-07-12,2018-05-16,1,22.433333,http://incubator.apache.org/projects/trafficco...,https://github.com/apache/TrafficControl,Go,NaN,NaN
42,236,Trafodion,2015-05-24,2017-12-20,1,31.366667,http://incubator.apache.org/projects/trafodion...,https://github.com/apache/Trafodion,C++,NaN,NaN
43,241,Unomi,2015-10-05,2019-02-20,1,41.133333,http://incubator.apache.org/projects/unomi.html,https://github.com/apache/Unomi,Java,NaN,NaN
44,306,Wave,2010-12-04,2018-01-15,2,86.633333,http://incubator.apache.org/projects/wave.html,https://github.com/apache/incubator-retired-Wave,NaN,"2011-04-09,2013-08-31,2014-09-13,2014-12-14,20...","2011-08-20,2013-12-02,2014-12-12,2015-03-13,20..."
45,298,Sirona,2013-10-15,2017-07-03,2,45.233333,http://incubator.apache.org/projects/sirona.html,https://github.com/apache/Sirona,NaN,"2015-07-27,2015-12-16,2016-04-28,2016-07-06,20...","2015-10-30,2016-03-08,2016-07-01,2016-10-22,20..."
46,285,MRQL,2013-03-13,2017-08-18,2,53.966667,http://incubator.apache.org/projects/mrql.html,https://github.com/apache/incubator-retired-MRQL,NaN,"2013-11-02,2014-03-18,2015-07-27,2015-11-29,20...","2014-01-25,2014-05-16,2015-11-02,2016-02-05,20..."
47,256,AriaTosca,2016-08-27,2018-07-01,2,22.433333,http://incubator.apache.org/projects/ariatosca...,https://github.com/apache/incubator-AriaTosca,Python,NaN,NaN
48,261,Climate Model Diagnostic Analyzer,2015-05-08,2017-02-05,2,21.300000,http://incubator.apache.org/projects/cmda.html,https://github.com/apache/incubator-retired-cmda,Java,NaN,NaN
49,263,Concerted,2015-10-14,2016-04-25,2,6.466667,http://incubator.apache.org/projects/concerted...,https://github.com/apache/incubator-retired-co...,C++,2015-11-06,2016-04-24
50,264,Corinthia,2014-12-08,2015-11-19,2,11.533333,http://incubator.apache.org/projects/corinthia...,https://github.com/apache/incubator-retired-co...,C,NaN,NaN
51,268,Gearpump,2016-03-08,2018-09-19,2,30.833333,http://incubator.apache.org/projects/gearpump....,https://github.com/apache/incubator-retired-ge...,Scala,"2017-12-09,2018-06-26","2018-03-14,2018-08-25"
52,269,Gossip,2016-04-28,2018-08-21,2,28.166667,http://incubator.apache.org/projects/gossip.html,https://github.com/apache/incubator-retired-go...,Java,NaN,NaN
53,277,iota,2016-01-20,2018-02-15,2,25.233333,http://incubator.apache.org/projects/iota.html,https://github.com/apache/incubator-retired-iota,Scala,"2016-02-17,2017-02-10","2016-05-02,2017-04-12"
54,290,OpenAz,2015-01-20,2016-08-26,2,19.466667,http://incubator.apache.org/projects/openaz.html,https://github.com/apache/incubator-retired-Op...,Java,"2015-08-21,2016-03-23","2016-03-15,2016-05-29"
55,292,Pirk,2016-06-17,2017-04-17,2,10.133333,http://incubator.apache.org/projects/pirk.html,https://github.com/apache/incubator-retired-Pirk,Java,NaN,NaN
56,294,Quickstep,2016-03-29,2018-11-30,2,32.533333,http://incubator.apache.org/projects/quickstep...,https://github.com/apache/incubator-retired-Qu...,C++,2018-06-05,2018-11-03
57,299,Slider,2014-04-29,2018-05-24,2,49.533333,http://incubator.apache.org/projects/slider.html,https://github.com/apache/incubator-retired-Sl...,Java,"2016-09-08,2017-05-13,2017-10-05","2017-01-23,2017-08-16,2018-02-20"
58,312,Zipkin,2018-08-29,2019-06-19,2,9.800000,http://incubator.apache.org/projects/zipkin.html,https://github.com/apache/Zipkin,Java,NaN,NaN

In [9]:
new_list.to_csv(dir_path+"new_list_w_downturns.csv",index=False)